# Raw data & results
data/raw_data/**/
*.fastq
*.fastq.gz
logs/

# Bioinformatics outputs (for later)
*.bam
*.bai
*.sam
*.fq
*.fq.gz
*.vcf
*.vcf.gz
*.txt
*.txt.summary
*.ht2
*.json
*.log
*fastqc.zip
*fastqc.html


# System/Editor
.Rhistory
.Rproj.user/
.DS_Store
.vscode/
