# ======================
# Raw sequencing data
# ======================
*.fastq
*.fastq.gz
data/raw_data/

# ======================
# Results (ignore by default)
# ======================
results/*
!results/
!results/versions/
!results/versions/**
!results/multiqc_report_1.html

# ======================
# Local-only scripts
# ======================
scripts/3_FeatureCounts/add_MultiQC.slurm


# ======================
# Logs & configs
# ======================
logs/
config/
resources/

# ======================
# System / Editor files
# ======================
.Rhistory
.Rproj.user/
.DS_Store
.vscode/

